@model CikguHub.Data.CaseRenterDeposit

<h4 class="mb-10 font-weight-bold text-dark">Dispute Details</h4>


<div class="row mb-10">
    <div class="col-xl-8">
        <div class="form-group" id="variable-text">
            <label class="">Describe your circumstances:</label>
            <div class="checkbox-list">
                <label class="checkbox">
                    <input class="variable-text" type="checkbox" name="KeyReturned" onclick="handleKeyReturned()" id="KeyReturned" value="@(Model.KeyReturnedDate.HasValue ? "true" : "false")" @(Model.KeyReturnedDate.HasValue ? "checked" : "")>
                    <span></span>The Tenancy has ended, and I have returned / handed over the keys to the Landlord.
                </label>
                <label class="checkbox">
                    <input class="variable-text" type="checkbox" name="NoComplaints" onclick="handleNoComplaints()" id="NoComplaints" value="@(Model.NoComplaints.GetValueOrDefault() ? "true" : "false")" @(Model.NoComplaints.GetValueOrDefault() ? "checked" : "")>
                    <span></span>The Landlord has no complaints on the state of the Demised Premises.
                </label>
                <label class="checkbox">
                    <input class="variable-text" type="checkbox" name="Inspection" onclick="handleInspectionDate()" id="Inspection" value="@(Model.JointInspectionDate.HasValue ? "true" : "false")" @(Model.JointInspectionDate.HasValue ? "checked" : "")>
                    <span></span>There was a joint inspection. OR
                </label>
                <label class="checkbox">
                    <input class="variable-text" type="checkbox" name="LandlordTerminated" onclick="handleLandlordTerminated()" id="LandlordTerminated" value="@(Model.LandlordTerminatedDate.HasValue ? "true" : "false")" @(Model.LandlordTerminatedDate.HasValue ? "checked" : "")>
                    <span></span>The Tenancy was terminated by the Landlord, before the end of term, however the Landlord had unreasonably refused to refund the Deposits and/or the Outstanding Sum. OR
                </label>
                <label class="checkbox">
                    <input class="variable-text" type="checkbox" name="ResolutionDisputed" onclick="handleResolutionDisputed()" id="ResolutionDisputed" value="@(Model.ResolutionDisputed.GetValueOrDefault() ? "true" : "false")" @(Model.ResolutionDisputed.GetValueOrDefault() ? "checked" : "")>
                    <span></span>There was a joint inspection, the Landlord and I cannot agree on the state of the Demised Premises, and cannot agree on the contractor to restore the Demised Premises.
                </label>
            </div>
            <span class="form-text text-muted">Choose more than one, where applicable</span>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="form-group" id="KeyReturnedDate" @(Model.KeyReturnedDate.HasValue ? "" : "hidden")>
            <label class="" for="KeyReturnedDate">Key Return Date</label>
            <input class="form-control" name="KeyReturnedDate" type="date" value="@(Model.KeyReturnedDate.HasValue ? Model.KeyReturnedDate.Value.ToString("yyyy-MM-dd") : "")">
        </div>
        <div class="form-group" id="JointInspectionDate" @(Model.JointInspectionDate.HasValue ? "" : "hidden")>
            <label class="" for="JointInpectionDate">Inspection Date</label>
            <input class="form-control" name="JointInspectionDate" type="date" value="@(Model.JointInspectionDate.HasValue ? Model.JointInspectionDate.Value.ToString("yyyy-MM-dd") : "")">
        </div>
        <div class="form-group" id="LandlordTerminatedDate" @(Model.LandlordTerminatedDate.HasValue ? "" : "hidden")>
            <label class="" for="LandlordTerminatedDate">Terminated Date</label>
            <input class="form-control" name="LandlordTerminatedDate" type="date" value="@(Model.LandlordTerminatedDate.HasValue ? Model.LandlordTerminatedDate.Value.ToString("yyyy-MM-dd") : "")">
        </div>
        <div class="alert alert-danger" id="HighDispute" @(Model.ResolutionDisputed.HasValue &&  Model.ResolutionDisputed.Value ? "" : "hidden")>
            <h6>High dispute case detected!</h6>
            <p>Our robot lawyer may not help you in this case, as it likely requires personal attention by a human lawyer. If you choose to continue, our team will contact you to discuss your case further.</p>
        </div>
    </div>
</div>
<div class="separator separator-dashed my-5"></div>
<h4 class="mb-10 font-weight-bold text-dark">Landlord Details</h4>
<div class="row mb-10">
    <div class="col-xl-8">
        <form-entry asp-for="LandlordAddress" />
        <span style="margin-top:-1.5rem" class="form-text text-muted mb-5">The letter of demand will be posted here. Don't put the tenancy address!</span>
    </div>
</div>
<div class="row mb-10">
    <div class="col-xl-8">
        <form-entry asp-for="LandlordContact" />
        <span style="margin-top:-1.5rem" class="form-text text-muted mb-5">(Important) The letter of demand can be sent via WhatsApp and other messaging platforms to landlord. This is accepted by the court.</span>
    </div>
</div>
<div class="row mb-10">
    <div class="col-xl-8">
        <form-entry asp-for="LandlordEmail" />
        <span style="margin-top:-1.5rem" class="form-text text-muted mb-5">The letter of demand can be sent via email to your landlord</span>
        @*<div class="checkbox-inline">
            <label class="checkbox">
                <input type="checkbox" name="Checkboxes2">
                <span></span>I do not know the landlord's email address, and I have never received any email from the Landlord.
            </label>
        </div>*@
    </div>
</div>
<div class="separator separator-dashed my-5"></div>
<h4 class="mb-10 font-weight-bold text-dark">Your Details</h4>
<div class="row mb-10">
    <div class="col-xl-8">
        <form-entry asp-for="TenantBankDetails" />
        <span style="margin-top:-1.5rem" class="form-text text-muted mb-5">Your bank details for landlord to transfer funds to you (e.g. Public Bank A/C No. 19191919XYZ)</span>
    </div>
</div>
<div class="row mb-10">
    <div class="col-xl-8">
        <form-entry asp-for="TenantEmail" />
        <span style="margin-top:-1.5rem" class="form-text text-muted mb-5">Email that landlord can use to reply you</span>
    </div>
</div>
<div class="row mb-10">
    <div class="col-xl-8">
        <form-entry asp-for="TenantAddress" />
        <span style="margin-top:-1.5rem" class="form-text text-muted mb-5">Your official address</span>
    </div>
</div>
<div class="row mb-10">
    <div class="col-xl-8">
        <form-entry asp-for="TenantContact" />
        <span style="margin-top:-1.5rem" class="form-text text-muted mb-5">Phone number that the other party can use to contact you</span>
    </div>
</div>
