@model CikguHub.Data.CaseRenterDeposit

<h6 class="mb-10 font-weight-bold text-dark">Your letter of demand is ready!</h6>
<p><a href="@Model.LetterOfDemandUrl">Click here</a> to see a sample </p>

<br />
<h6 class="mb-10 font-weight-bold text-dark">Select service:</h6>

<div class="row">
    <div class="col-lg-6">
        <label class="option">
            <span class="option-control">
                <span class="radio">
                    <input type="radio" name="LetterOfDemandServiceLevel" value="@ServiceLevel.Standard" @(String.IsNullOrEmpty(Model.LetterOfDemandServiceLevel) ? "" : (Model.LetterOfDemandServiceLevel == @ServiceLevel.Standard ? "checked" : ""))>
                    <span></span>
                </span>
            </span>
            <span class="option-label">
                <span class="option-head">
                    <span class="option-title">Standard Service</span>
                    <span class="option-focus text-primary">RM&nbsp;@Products.GetProduct(ServiceLevel.Standard).Price.ToString("#")</span>
                </span>
                <span class="option-body">
                    <p>Letter of Demand ONLY</p>
                    <ul style="padding-inline-start: 20px;">
                        <li>
                            You will be provided a standard letter of demand
                        </li>
                        <li>
                            You will need to send your letter personally to your landlord
                        </li>
                        <li>
                            Unlimited queries to our robot lawyer
                        </li>
                    </ul>
                </span>
            </span>
        </label>
    </div>
    <div class="col-lg-6">
        <label class="option">
            <span class="option-control">
                <span class="radio">
                    <input type="radio" name="LetterOfDemandServiceLevel" value="@ServiceLevel.Premium" @(String.IsNullOrEmpty(Model.LetterOfDemandServiceLevel) ? "checked" : (Model.LetterOfDemandServiceLevel == @ServiceLevel.Premium ? "checked" : ""))>
                    <span></span>
                </span>
            </span>
            <span class="option-label">
                <span class="option-head">
                    <span class="option-title">Premium Service</span>
                    <span class="option-focus text-primary">RM&nbsp;@Products.GetProduct(ServiceLevel.Premium).Price.ToString("#")</span>
                </span>
                <span class="option-body">
                    <p>Full access &amp; personal attention</p>
                    <ul style="padding-inline-start: 20px;">
                        <li>
                            Our robot lawyer and team will review your letter of demand
                        </li>
                        <li>
                            We will deliver your letter of demand (postage included)
                        </li>
                        <li>
                            Our robot lawyers will be tasked to monitor your case closely
                        </li>
                    </ul>
                </span>
            </span>
        </label>
    </div>
</div>